<!-- Encabezado -->
<app-header></app-header>

<div  class="mx-auto px-4 mt-[8rem] max-w-[95%] transition-all duration-300" [ngClass]="{ 'ml-56': isExpanded && isVisible, 
    'ml-20': !isExpanded && isVisible, 'ml-0': !isVisible}">
    <div *ngIf="loading;" class="flex flex-col sm:flex-row justify-between space-y-4 sm:space-y-0 sm:space-x-4">
        <!-- Grafico tamizaje sifilis -->
        <div class="rounded-lg p-4 flex-1">
            <div id="consultasIveChart" style="width: 100%; height: 250px;"></div>
        </div>

        <!-- Contadores de registros -->
        <div class="grid grid-cols-2 gap-4 flex-1">
            <div class="bg-blue-50 rounded-lg p-4 flex items-center shadow-md">
                <div class="mr-4 text-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-heart-pulse">
                        <path
                            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                        <path d="M3.22 12H9.5l.5-1 2 4.5 2-7 1.5 3.5h5.27" />
                    </svg>
                </div>
                <div>
                    <h2 class="text-blue-800 font-bold text-lg mb-2">Gestantes Registradas</h2>
                    <span class="text-blue-800 font-bold text-2xl">{{total_usu}}</span>
                </div>
            </div>

            <div class="bg-green-50 rounded-lg p-4 flex items-center shadow-md">
                <div class="mr-4 text-green-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-hospital">
                        <path d="M12 6v4" />
                        <path d="M14 14h-4" />
                        <path d="M14 18h-4" />
                        <path d="M14 8h-4" />
                        <path d="M18 12h2a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-9a2 2 0 0 1 2-2h2" />
                        <path d="M18 22V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v18" />
                    </svg>
                </div>
                <div>
                    <h2 class="text-green-800 font-bold text-lg mb-2">Ips Registradas</h2>
                    <span class="text-green-800 font-bold text-2xl">{{total_ips}}</span>
                </div>
            </div>

            <div class="bg-purple-50 rounded-lg p-4 flex items-center shadow-md">
                <div class="mr-4 text-purple-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-shield-check">
                        <path
                            d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                        <path d="m9 12 2 2 4-4" />
                    </svg>
                </div>
                <div>
                    <h2 class="text-purple-800 font-bold text-lg mb-2">Administradores Registrados</h2>
                    <span class="text-purple-800 font-bold text-2xl">{{total_admin}}</span>
                </div>
            </div>

            <div class="bg-teal-50 rounded-lg p-4 flex items-center shadow-md">
                <div class="mr-4 text-teal-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-stethoscope">
                        <path d="M11 2v2" />
                        <path d="M5 2v2" />
                        <path d="M5 3H4a2 2 0 0 0-2 2v4a6 6 0 0 0 12 0V5a2 2 0 0 0-2-2h-1" />
                        <path d="M8 15a6 6 0 0 0 12 0v-3" />
                        <circle cx="20" cy="10" r="2" />
                    </svg>
                </div>
                <div>
                    <h2 class="text-teal-800 font-bold text-lg mb-2">Operadores Registrados</h2>
                    <span class="text-teal-800 font-bold text-2xl">{{total_ope}}</span>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="loading;" class="grid grid-cols-2 gap-4 mt-4">
        <div class="bg-white rounded-lg p-4 shadow">
            <div id="seguimientoChart" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="bg-white rounded-lg p-4 shadow">
            <div class="flex items-center justify-between">
                <div id="mortalidadNeoChart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <div *ngIf="loading;" class="bg-white rounded-lg p-4 shadow mt-4 mb-8">
        <div id="tamizajeChart" style="width: 100%; height: 400px;"></div>
    </div>

    <div class="m-3 flex-[0_0_75%] h-[95%] full-calendar-container overflow-auto">
        <div class="border border-gray-300 bg-white shadow-md rounded-lg p-3 h-full overflow-hidden">
            <br />
            <div class="calendar-container">
                <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>
            </div>
        </div>
    </div>
</div>