<app-header></app-header>

<div class="mx-auto px-4 mt-[8rem] max-w-[95%] sm:max-w-full transition-all duration-300" [ngClass]="{ 
    'ml-56': isExpanded && isVisible, 
    'ml-20': !isExpanded && isVisible, 
    'ml-0': !isVisible}">

    <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
        <h2 class="text-xl font-bold mb-4">Exámenes de los Trimestres</h2>

        <div class="grid gap-4">
            <div class="w-full p-4 border border-slate-400 rounded-lg">
                <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 w-full">
                    <!-- Primer Trimestre -->
                    <div class="border border-slate-300 rounded-lg p-4">
                        <h3 class="text-xl font-bold mb-4">Primer Trimestre</h3>
                        <table class="w-full">
                            <tbody>
                                <tr *ngFor="let exam of examenes1" class="border-b last:border-b-0">
                                    <td class="py-2">{{ exam.nombre }} <p></p> </td>
                                    <td class="py-2 pl-4 text-right">
                                        <!-- Si exam.completado es false, muestra este icono HTML -->
                                        <ng-container *ngIf="exam.completado; else notCompleted">
                                            <span class="text-green-500 flex justify-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-check">
                                                    <path d="M20 6 9 17l-5-5" />
                                                </svg>
                                            </span>
                                        </ng-container>
                                        <!-- Si exam.completado es false, muestra este icono HTML -->
                                        <ng-template #notCompleted>
                                            <span class="text-red-500 flex justify-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-x">
                                                    <path d="M18 6 6 18" />
                                                    <path d="m6 6 12 12" />
                                                </svg>
                                            </span>
                                        </ng-template>
                                    </td>
                                </tr>
                                <!-- Más exámenes... -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Segundo Trimestre -->
                    <div class="border border-slate-300 rounded-lg p-4">
                        <h3 class="text-xl font-bold mb-4">Segundo Trimestre</h3>
                        <table class="w-full">
                            <tbody>
                                <tr *ngFor="let exam of examenes2" class="border-b last:border-b-0">
                                    <td class="py-2">{{ exam.nombre }}</td>
                                    <td class="py-2 pl-4 text-right">
                                        <!-- Si exam.completado es false, muestra este icono HTML -->
                                        <ng-container *ngIf="exam.completado; else notCompleted">
                                            <span class="text-green-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-check">
                                                    <path d="M20 6 9 17l-5-5" />
                                                </svg>
                                            </span>
                                        </ng-container>
                                        <!-- Si exam.completado es false, muestra otro icono HTML -->
                                        <ng-template #notCompleted>
                                            <span class="text-red-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-x">
                                                    <path d="M18 6 6 18" />
                                                    <path d="m6 6 12 12" />
                                                </svg>
                                            </span>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Tercer Trimestre -->
                    <div class="border border-slate-300 rounded-lg p-4">
                        <h3 class="text-xl font-bold mb-4">Tercer Trimestre</h3>
                        <table class="w-full">
                            <tbody>
                                <tr *ngFor="let exam of examenes3" class="border-b last:border-b-0">
                                    <td class="py-2">{{ exam.nombre }}</td>
                                    <td class="py-2 pl-4 text-right">
                                        <!-- Si exam.completado es false, muestra este icono HTML -->
                                        <ng-container *ngIf="exam.completado; else notCompleted">
                                            <span class="text-green-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-x">
                                                    <path d="M18 6 6 18" />
                                                    <path d="m6 6 12 12" />
                                                </svg>
                                            </span>
                                        </ng-container>
                                        <!-- Si exam.completado es false, muestra otro icono HTML -->
                                        <ng-template #notCompleted>
                                            <span class="text-red-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-check">
                                                    <path d="M20 6 9 17l-5-5" />
                                                </svg>
                                            </span>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>