<!-- Encabezado -->
<app-header></app-header>

<div class="mx-auto px-4 mt-[8rem] max-w-[95%] transition-all duration-300 flex flex-wrap gap-4" [ngClass]="{ 
    'ml-56': isExpanded && isVisible, 
    'ml-20': !isExpanded && isVisible, 
    'ml-0': !isVisible}">
    <!-- Team Strength Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 mb-6">
        <h3 class="text-lg font-bold mb-4">Teams Strength</h3>
        <div class="flex flex-col space-y-4">
            <div class="flex items-center justify-between">
                <p class="font-bold text-blue-500">Marketing</p>
                <p class="text-gray-500">1</p>
            </div>
            <div class="flex items-center justify-between">
                <p class="font-bold text-orange-500">HR</p>
                <p class="text-gray-500">5</p>
            </div>
            <div class="flex items-center justify-between">
                <p class="font-bold text-green-500">Developers</p>
                <p class="text-gray-500">3</p>
            </div>
            <div class="flex items-center justify-between">
                <p class="font-bold text-purple-500">Design</p>
                <p class="text-gray-500">10</p>
            </div>
        </div>
    </div>

    <!-- Employees Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 mb-6">
        <h3 class="text-lg font-bold mb-4">Employees</h3>
        <div class="flex flex-col space-y-4">
            <div class="flex items-center justify-between">
                <p class="font-bold text-blue-500">Inactive</p>
                <p class="text-gray-500">254</p>
            </div>
            <div class="flex items-center justify-between">
                <p class="font-bold text-orange-500">Active</p>
                <p class="text-gray-500">3000</p>
            </div>
            <div class="flex items-center justify-between">
                <p class="font-bold text-green-500">Total</p>
                <p class="text-gray-500">3254</p>
            </div>
        </div>
    </div>

    <!-- Project Deliveries Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/2 mb-6">
        <h3 class="text-lg font-bold mb-4">Project Deliveries</h3>
        <div class="flex items-center justify-between">
            <p class="text-gray-500">Achieved</p>
            <p class="font-bold text-red-500">7 Projects</p>
        </div>
        <div class="flex items-center justify-between">
            <p class="text-gray-500">Target</p>
            <p class="font-bold text-blue-500">5 Projects</p>
        </div>
    </div>

    <!-- Top 10 Card (Separated into individual cards) -->
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 mb-6">
        <h3 class="text-lg font-bold mb-4">Top 10</h3>
        <p class="font-bold text-blue-500">20% increase from last week</p>
        <p class="text-gray-500">Position In Dribbble</p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 mb-6">
        <h3 class="text-lg font-bold mb-4">New Employees Onboarded</h3>
        <p class="font-bold text-blue-500">26</p>
        <p class="text-gray-500">15% increase from last month</p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 mb-6">
        <h3 class="text-lg font-bold mb-4">New Clients Approached</h3>
        <p class="font-bold text-blue-500">500</p>
        <p class="text-gray-500">5% increase from last week</p>
    </div>

    <!-- Notifications Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 mb-6">
        <h3 class="text-lg font-bold mb-4">Notifications</h3>
        <div class="flex flex-col space-y-4">
            <div class="flex items-center">
                <p class="font-bold text-gray-700">Ellie joined team developers</p>
                <p class="text-gray-500 ml-auto">04 April, 2021 10:09 PM</p>
            </div>
            <div class="flex items-center">
                <p class="font-bold text-gray-700">Jenny joined team HR</p>
                <p class="text-gray-500 ml-auto">03 April, 2021 04:09 PM</p>
            </div>
            <div class="flex items-center">
                <p class="font-bold text-gray-700">Adam got employee of the month</p>
                <p class="text-gray-500 ml-auto">05 April, 2021 11:00 AM</p>
            </div>
            <div class="flex items-center">
                <p class="font-bold text-gray-700">Robert joined team design</p>
                <p class="text-gray-500 ml-auto">02 April, 2021 12:00 PM</p>
            </div>
            <div class="flex items-center">
                <p class="font-bold text-gray-700">Jack joined team design</p>
                <p class="text-gray-500 ml-auto">02 April, 2021 03:00 PM</p>
            </div>
        </div>
    </div>
</div>

