<!-- Encabezado -->
<app-header></app-header>

<div class="mx-auto px-4 mt-[8rem] max-w-[95%] transition-all duration-300 flex flex-wrap gap-4" [ngClass]="{ 
    'ml-56': isExpanded && isVisible, 
    'ml-20': !isExpanded && isVisible, 
    'ml-0': !isVisible}">

    <!------ * Estilos de la primera fila  * ------>
    <div class="flex flex-wrap gap-4 w-full mt-6">
        <!-- Campo para el proceso por trimestres -->
        <div class="bg-white p-6 rounded-lg w-[33%] mb-6 border h-full">
            <h3 class="text-lg font-bold mb-4">Campo para el proceso por trimestres</h3>
        </div>

        <!-- Calendario -->
        <div class="bg-white p-6 rounded-lg w-[33%] mb-6 border">
            <h3 class="text-lg font-bold mb-4">Calendario</h3>
        </div>

        <!-- Contadores -->
        <div class="flex flex-col w-[30%] gap-4">
            <div class="bg-[#FFF0E6] p-4 rounded-lg text-center">
                <p class="text-lg font-bold mb-1">Tu edad gestacional es </p>
                <p class="font-bold text-lg">#</p>
            </div>

            <div class="bg-[#ECEAFE] p-4 rounded-lg text-center">
                <p class="text-lg font-bold">Llevas # controles prenatales realizados</p>
            </div>

            <div class="bg-[#E5F7FF] p-6 rounded-lg text-center">
                <p class="text-lg font-bold">Has realizado # sesiones del curso</p>
            </div>

            <div class="bg-[#bfdbfe] p-4 rounded-lg text-center">
                <p class="text-lg font-bold mb-1">Tu fecha probable de parto es:</p>
                <p class="font-bold">20 de diciembre del 2025</p>
            </div>
        </div>
    </div>

    <!------ * Estilos de la segunda fila * ------>
    <div class="flex flex-wrap gap-4 w-full mt-6">

        <!-- Grafica peso -->
        <div class="bg-white p-6 rounded-lg shadow-lg w-[67%] mb-6">
            <h3 class="text-lg font-bold mb-4">Grafica peso</h3>
        </div>

        <!-- Alertas -->
        <div class="bg-white p-6 rounded-lg shadow-md w-[31%] mb-6">
            <h3 class="text-lg font-bold mb-4">¡Importante!</h3>
            <div class="flex flex-col space-y-4">
                <div class="flex items-center">
                    <p class="font-bold text-gray-700">Ellie joined team developers</p>
                    <p class="text-gray-500 ml-auto">04 April, 2021 10:09 PM</p>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-gray-700">Jenny joined team HR</p>
                    <p class="text-gray-500 ml-auto">03 April, 2021 04:09 PM</p>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-gray-700">Adam got employee of the month</p>
                    <p class="text-gray-500 ml-auto">05 April, 2021 11:00 AM</p>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-gray-700">Robert joined team design</p>
                    <p class="text-gray-500 ml-auto">02 April, 2021 12:00 PM</p>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-gray-700">Jack joined team design</p>
                    <p class="text-gray-500 ml-auto">02 April, 2021 03:00 PM</p>
                </div>
            </div>
        </div>
    </div>

    <!------ * Grafica presión * ------>
    <div class="bg-white p-6 rounded-lg shadow-lg w-[99%] mb-6">
        <h3 class="text-lg font-bold mb-4">Grafica presión</h3>
    </div>

    <!------ * Datos de vacunación de la gestante y el bb * ------>
    <div class="flex flex-wrap gap-4 w-full">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[49%] mb-6">
            <p class="text-lg font-bold mb-4">Datos de vacunación de la gestante</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg w-[49%] mb-6">
            <p class="text-lg font-bold mb-4">Datos de vacunación del bb</p>
        </div>
    </div>
</div>