<!-- dashboard.component.html -->

<!-- Encabezado -->
<app-header></app-header>

<div class="mx-auto px-4 mt-[8rem] max-w-[95%] sm:max-w-full transition-all duration-300 flex flex-wrap gap-4"
    [ngClass]="{ 
    'ml-56': isExpanded && isVisible, 
    'ml-20': !isExpanded && isVisible, 
    'ml-0': !isVisible}">

    <!-- Estilos de la primera fila -->
    <div class="flex flex-wrap gap-4 w-full mt-6">

        <!-- Campo para el proceso por trimestres -->
        <div class="bg-white rounded-lg w-[33%] mb-6 shadow-md h-full">

            <!-- Mostrar el trimestre con diferentes colores -->
            <div class="p-6 w-[100%] h-[70%] border-b rounded-t-lg" [ngClass]="{
                'bg-[#fce2e5]': colorBarra === 'bg-[#fce2e5]',
                'bg-[#fbd8dc]': colorBarra === 'bg-[#fbd8dc]',
                'bg-[#faccd2]': colorBarra === 'bg-[#faccd2]',
                'bg-gray-200': colorBarra === 'bg-gray-200'
                }">
                
                <div class="relative">
                    <div class="flex flex-col text-end text-lg">
                        <p class="text-3xl font-bold mb-2">{{ trimestre }}</p>
                        <!-- <p class="font-semibold">Te faltan</p> -->
                        <p class="text-xl font-bold">Te faltan</p>                    
                        <p class="text-xl font-bold">{{ semanasRestantes }} semanas</p>                    
                    </div>
                    <!-- Imagen por trimestre -->
                    <img class="absolute top-5 w-[11rem]" *ngIf="imagenTrimestre" [src]="imagenTrimestre" alt="trimestre" />
                </div>
            </div>

            <!-- Barra de progreso -->
            <div class="p-6 rounded-lg w-[100%] h-[30%]">
                <div class="border border-[#f9b8c1] h-2.5 rounded-full">
                    <div class="h-2 rounded-full" [ngClass]="colorBarra"
                        [style.width.%]="(edadGestacional / 42) * 100"></div>
                </div>
                <!-- Texto con las semanas gestacionales -->
                <p class="text-center mt-2 font-bold text-lg">Tienes {{ edadGestacional }} semanas</p>
            </div>
        </div>

        <!-- diseño de las alertas -->
        <div class="bg-white p-6 rounded-lg border shadow-md w-[31%] mb-6 h-full">
            <div class="flex gap-2 text-[#ea1f1f]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-triangle-alert">
                    <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
                    <path d="M12 9v4" />
                    <path d="M12 17h.01" />
                </svg>
                <h3 class="text-xl font-bold mb-4">¡Importante!</h3>
            </div>
            <div class="flex flex-col">
                <div class="border border-[#fe0000] bg-red-50 rounded-lg p-3 mb-4">
                    <h3 class="font-bold text-lg">Alerta</h3>
                    <p class="text-gray-500">Fecha: 2023-05-15</p>
                </div>
            </div>
        </div>

        <!-- Diseño de las tarjetas -->
        <div class="flex flex-col w-[30%] gap-4">
            <div class="border border-pink-300 px-4 py-2 rounded-lg bg-pink-50 shadow-lg">
                <div class="flex text-xl font-bold mb-1 text-pink-700 gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-baby">
                        <path d="M9 12h.01" />
                        <path d="M15 12h.01" />
                        <path d="M10 16c.5.3 1.2.5 2 .5s1.5-.2 2-.5" />
                        <path
                            d="M19 6.3a9 9 0 0 1 1.8 3.9 2 2 0 0 1 0 3.6 9 9 0 0 1-17.6 0 2 2 0 0 1 0-3.6A9 9 0 0 1 12 3c2 0 3.5 1.1 3.5 2.5s-.9 2.5-2 2.5c-.8 0-1.5-.4-1.5-1" />
                    </svg>
                    <p>Tu edad gestacional</p>
                </div>
                <p class="font-bold text-xl text-pink-900 px-8">{{edadGestacional}} Semanas</p>
            </div>

            <div class="border border-purple-300 bg-purple-50 shadow-lg px-4 py-2 rounded-lg">
                <div class="flex text-xl font-bold mb-1 text-purple-700 gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-clipboard-check">
                        <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
                        <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
                        <path d="m9 14 2 2 4-4" />
                    </svg>
                    <p>Controles prenatales</p>
                </div>
                <p class="font-bold text-xl text-purple-900 px-8">{{controles}} Realizados</p>
            </div>

            <div class="border border-blue-300 bg-blue-50 shadow-lg px-4 py-2 rounded-lg">
                <div class="flex text-xl font-bold mb-1 text-blue-700 gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-graduation-cap">
                        <path
                            d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
                        <path d="M22 10v6" />
                        <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
                    </svg>
                    <p>Sesiones del curso</p>
                </div>
                <p class="font-bold text-xl text-blue-900 px-8">{{sessiones}} Completadas</p>
            </div>

            <div class="border border-cyan-300 bg-cyan-50 shadow-lg px-4 py-2 rounded-lg">
                <div class="flex text-xl font-bold mb-1 text-cyan-700 gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-calendar">
                        <path d="M8 2v4" />
                        <path d="M16 2v4" />
                        <rect width="18" height="18" x="3" y="4" rx="2" />
                        <path d="M3 10h18" />
                    </svg>
                    <p class="text-lg font-bold">Tu fecha probable de parto es</p>
                </div>
                <p class="font-bold text-lg text-cyan-900 px-8">{{fechaParto}}</p>
            </div>
        </div>
    </div>

    <!-- Estilos de la segunda fila -->
    <div class="flex flex-wrap gap-4 w-full mt-6">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full md:w-[49%] max-w-full mb-6">
            <h3 class="text-lg font-bold mb-4">Gráfica peso</h3>
            <div id="pesoChart" class="w-full h-[200px] md:h-[400px]"></div>
        </div>

        <!-- Gráfica presión -->
        <div class="bg-white p-6 rounded-lg shadow-lg w-full md:w-[49%] max-w-full mb-6">
            <h3 class="text-lg font-bold mb-4">Gráfica presión</h3>
            <div id="presionChart" class="w-full h-[200px] md:h-[400px]"></div>
        </div>
    </div>

    <!-- Datos de vacunación de la gestante y el bb -->
    <div class="flex flex-wrap gap-4 w-full">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[33%] mb-6">
            <p class="text-lg font-bold mb-4">Estado de vacunación de gestante</p>
            <!-- Iteramos sobre todas las posibles vacunas -->
            <div *ngFor="let vacuna of ['Segunda dosis COVID', 'DPT', 'Influenza', 'Refuerzo', 'Tétanos', 'Primera dosis COVID']" 
                 class="border rounded-lg p-4 flex items-center justify-between shadow-sm mb-4">
                <div>
                    <h3 class="font-bold text-lg">{{ vacuna }}</h3>
                    <p class="text-gray-500" *ngIf="vacunasInfo[vacuna]">
                        Fecha: {{vacunasInfo[vacuna] | date:'dd/MM/yyyy'}}
                    </p>
                </div>
                <div class="flex items-center gap-2 px-3 py-1 rounded-full"
                     [ngClass]="vacunasAplicadas.includes(vacuna) ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700'">
                    <svg *ngIf="vacunasAplicadas.includes(vacuna)" 
                         xmlns="http://www.w3.org/2000/svg" 
                         width="20" 
                         height="20" 
                         viewBox="0 0 24 24" 
                         fill="none"
                         stroke="currentColor" 
                         stroke-width="2" 
                         stroke-linecap="round" 
                         stroke-linejoin="round"
                         class="lucide lucide-circle-check-big">
                        <path d="M21.801 10A10 10 0 1 1 17 3.335" />
                        <path d="m9 11 3 3L22 4" />
                    </svg>
                    <svg *ngIf="!vacunasAplicadas.includes(vacuna)" 
                         xmlns="http://www.w3.org/2000/svg" 
                         width="20" 
                         height="20" 
                         viewBox="0 0 24 24" 
                         fill="none"
                         stroke="currentColor" 
                         stroke-width="2" 
                         stroke-linecap="round" 
                         stroke-linejoin="round"
                         class="lucide lucide-x-circle">
                        <circle cx="12" cy="12" r="10"/>
                        <path d="m15 9-6 6"/>
                        <path d="m9 9 6 6"/>
                    </svg>
                    <span class="text-sm">{{ vacunasAplicadas.includes(vacuna) ? 'Recibida' : 'No recibida' }}</span>
                </div>
            </div>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg w-[33%] mb-6">
            <p class="text-lg font-bold mb-4">Estado de vacunación del bebé</p>
            <div class="border rounded-lg p-4 flex items-center justify-between shadow-sm mb-4">
                <div>
                    <h3 class="font-bold text-lg">Nombre vacuna</h3>
                    <p class="text-gray-500">Fecha: 2023-05-15</p>
                </div>
                <div class="flex items-center gap-2 bg-gray-100 text-gray-700 px-3 py-1 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-circle-check-big">
                        <path d="M21.801 10A10 10 0 1 1 17 3.335" />
                        <path d="m9 11 3 3L22 4" />
                    </svg>
                    <span class="text-sm">Recibida</span>
                </div>
            </div>
        </div>

        <!-- Diseño del calendario -->
        <div *ngIf="!loading;" class="bg-white p-6 rounded-lg w-[31%] mb-6 shadow-lg">
            <full-calendar [options]="calendarOptions" class="h-full"></full-calendar>
        </div>
    </div>

</div>

<!-- Modal -->
<app-modal *ngIf="isModalVisible" (closeModalEvent)="handleModalClose($event)"></app-modal>