<!-- Diseño de modal que se visualiza en 'Signos de alarma' -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 overflow-auto">
  <div
    class="bg-white rounded-lg w-11/12 md:w-3/4 lg:w-2/3 flex flex-col md:flex-row relative max-h-full overflow-y-auto">

    <!-- Sección de la imagen -->
    <div class="w-full md:w-1/2 bg-cover bg-center rounded-t-lg md:rounded-l-lg relative"
      style="background-image: url('assets/images/inicio/signos_alarma.webp');">

      <!-- Capa oscura -->
      <span class="absolute inset-0 bg-black opacity-45 z-10"></span>

      <!-- Texto encima de la imagen -->
      <div class="relative z-20 text-white p-4 md:p-8 mt-auto md:mt-[66%] w-full">
        <h2 class="text-2xl md:text-4xl font-bold mb-4 md:mb-8 font-serif">Signos de alarma</h2>
      </div>
    </div>

    <!-- Sección del texto -->
    <div class="w-full md:w-1/2 p-4 md:p-8 relative">

      <!-- Icono de cerrar -->
      <button (click)="cerrar()" class="absolute top-2 right-4 text-gray-500 hover:text-gray-700 text-2xl md:text-3xl">
        &times;
      </button>

      <!-- Estilo del texto -->
      <div class="space-y-4 md:space-y-6 mt-4 md:mt-[50px]">

        <div>
          <h3 class="text-md md:text-lg font-bold text-red-400">1. Consultar por urgencias:</h3>
          <p class="text-black text-left text-sm md:text-base">
            Cefalea severa, Vómito y/o epigastralgia, Alteraciones visuales como visión borrosa o fosfenos, Edema
            matutino de cara, manos o pies, sangrado durante el embarazo, dolor abdominal tipo cólico irradiado a la
            espalda o a los muslos, aumento de contracciones uterinas, cambio en el color del moco vaginal, pérdida
            de líquido claro, manchado o sangrado y la sensación de que el bebé ha descendido.
          </p>
        </div>

        <div>
          <h3 class="text-md md:text-lg font-bold text-red-400">2. Consultar IPS Primaria:</h3>
          <p class="text-black text-left text-sm md:text-base">
            Debilidad, cansancio fácil y sensación de vértigo se pueden asociar con anemia, fiebre, dificultad
            respiratoria y tos, dolor al orinar, aumento en la frecuencia de la miccion y/o orina con manchas de sangre.
          </p>
        </div>

        <!-- Estilo de la frase -->
        <div class="w-full flex flex-col items-center text-center">
          <p class="text-black font-bold font-serif text-sm md:text-base mt-2">
            ¡Tu salud y la de tu bebé merecen toda tu atención; ante cualquier señal, busca ayuda a tiempo!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>