<!-- Diseño de la modal de manejo posparto -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 overflow-auto">
  <div class="bg-white rounded-lg w-11/12 md:w-3/4 lg:w-2/3 flex flex-col md:flex-row relative max-h-full overflow-y-auto">

    <!-- Sección de los ítems -->
    <div class="w-full p-4 md:p-8 relative bg-[#fffae4] text-center">
      <!-- Botón de cerrar -->
      <button (click)="cerrar()" class="absolute top-2 right-4 text-gray-500 hover:text-gray-700 text-2xl md:text-3xl">
        &times;
      </button>
      <p class="font-bold font-serif text-xl">Recomendaciones para la lactancia y el puerperio</p>
      <!-- Ítems alineados -->
      <div class="space-y-4 md:space-y-6 mt-4">
        <div class="flex items-start shadow-lg bg-white rounded-xl p-4">
          <span class="font-bold text-lg mr-4">01</span>
          <p class="text-black text-sm md:text-base">La lactancia materna exclusiva tiene una probabilidad de
            transmisión de VIH postparto de 9,3% a los 18 meses de seguimiento, por lo que deben darse indicaciones
            sobre alimentación con fórmula láctea exclusiva hasta los 6 meses de vida del niño, sin olvidar el control
            de la galactorrea.
          </p>
        </div>
        <div class="flex items-start shadow-lg bg-white rounded-xl p-4">
          <span class="font-bold text-lg mr-4">02</span>
          <p class="text-black text-sm md:text-base">Son factores de riesgo para la transmisión mediante la lactancia
            materna: la carga viral en la leche matema, mastitis aguda o subclínica, abscesos en mama y sero-conversión
            durante la lactancia.
          </p>
        </div>
        <div class="flex items-start shadow-lg bg-white rounded-xl p-4">
          <span class="font-bold text-lg mr-4">03</span>
          <p class="text-black text-sm md:text-base">El suministro de leche de fórmula debe ser continuo y su
            preparación debe tener las condiciones óptimas de higiene y limpieza para facilitar la práctica de la
            alimentación.
          </p>
        </div>
        <div class="flex items-start shadow-lg bg-white rounded-xl p-4">
          <span class="font-bold text-lg mr-4">04</span>
          <p class="text-black text-sm md:text-base">En el postparto inmediato la paciente debe continuar el tratamiento
            ARV oral que venía recibiendo durante el embarazo, tener una adecuada evaluación virológica (carga viral),
            inmunológica (CD4/CD8) y de su estado clínico, para definir la continuidad o no de este. Consultar al
            experto.
          </p>
        </div>
        <div class="flex items-start shadow-lg bg-white rounded-xl p-4">
          <span class="font-bold text-lg mr-4">05</span>
          <p class="text-black text-sm md:text-base">Si la madre no venía recibiendo ARV orales durante el embarazo debe
            tener una adecuada evaluación virológica (carga viral), inmunológica (CD4/CD8) y de su estado clínico, para
            definir el inicio de esta. Consultar al experto.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>